*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2re;
    color: black;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.row{
